<div class="container my-4">
  <form action="/blogs" method="post">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        name="title"
        class="form-control <%= errorMessage && errorMessage.title && 'is-invalid' %>"
        placeholder="title"
        value="<%= data && data.title %>"
      />
      <% if (errorMessage && errorMessage.title) { %>
      <div class="invalid-feedback"><%= errorMessage.title %></div>
      <% } %>
    </div>
    <div class="mb-3">
      <label class="form-label">Snippet</label>
      <input
        type="text"
        name="snippet"
        class="form-control <%= errorMessage && errorMessage.snippet && 'is-invalid' %>"
        placeholder="snippet"
        value="<%= data && data.snippet %>"
      />
      <% if (errorMessage && errorMessage.snippet) { %>
        <div class="invalid-feedback"><%= errorMessage.snippet %></div>
        <% } %>
    </div>
    <div class="mb-3">
      <label class="form-label">Body</label>
      <textarea
        name="body"
        class="form-control <%= errorMessage && errorMessage.body && 'is-invalid' %>"
        rows="3"
      ><%= data && data.body %></textarea>
      <% if (errorMessage && errorMessage.body) { %>
        <div class="invalid-feedback"><%= errorMessage.body %></div>
        <% } %>
    </div>
    <div class="mb-3">
      <button class="btn btn-success">Add</button>
    </div>
  </form>
</div>
